
<div class="top-banner">
  <div class="container">
    <div class="row ">
      <div class="col-md-3 banner-text" >
        <h1>ISU Corp</h1>
      </div>
      <div class="col-md-9 banner-text">
        World Class <br />
        Software Development
      </div>
    </div>
  </div>
</div>


<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="reservations" class="nav-link">Reservations</a>
      </li>
      <li class="nav-item">
        <a routerLink="contacts" class="nav-link">Contacts</a>
      </li>
      <li class="nav-item">
        <a routerLink="contact-types/create" class="nav-link">Contact Type Create</a>
      </li>
    </div>
  </div>
</nav>


<div>
  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
</div>
