<!--<span class="banner_h">
  <img src="../images/top-banner-top.jpg" alt="Isu Corp" height="150" width="1240" />
</span>-->
<div class="top-banner">
  <div class="container">
    <div class="row ">
      <div class="col-md-3 banner-text" >
        <h1>ISU Corp</h1>
      </div>
      <div class="col-md-9 banner-text">
        <p>World Class</p>
        <p>Software Development</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="reservations" class="nav-link">Reservations</a>
      </li>
      <li class="nav-item">
        <a routerLink="contacts" class="nav-link">Contacts</a>
      </li>
      <li class="nav-item">
        <a routerLink="contact-types/create" class="nav-link">Contact Type Create</a>
      </li>
    </div>
  </nav>
</div>

<div>
  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
</div>
